Source: fuse
Section: utils
Priority: optional
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 libselinux-dev [linux-any],
 gettext
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/libfuse/libfuse/wiki

Package: libfuse2t64
Provides: ${t64:Provides}
Replaces: libfuse2
Section: libs
Architecture: linux-any kfreebsd-any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts: fuse (<< ${binary:Version}), libfuse2 (<< ${source:Version})
Suggests: fuse3
Description: Filesystem in Userspace (library)
 Filesystem in Userspace (FUSE) is a simple interface for userspace programs to
 export a virtual filesystem to the Linux kernel. It also aims to provide a
 secure method for non privileged users to create and mount their own filesystem
 implementations.
 .
 This package contains the shared library.

Package: libfuse-dev
Section: libdevel
Architecture: linux-any kfreebsd-any
Multi-Arch: same
Depends:
 ${misc:Depends},
 libfuse2t64 (= ${binary:Version}),
 libselinux-dev [linux-any],
Suggests: fuse3
Description: Filesystem in Userspace (development)
 Filesystem in Userspace (FUSE) is a simple interface for userspace programs to
 export a virtual filesystem to the Linux kernel. It also aims to provide a
 secure method for non privileged users to create and mount their own filesystem
 implementations.
 .
 This package contains the development files.
